@using $customNamespace$.UI.Web.Common.Mvc.Html;
@model $customNamespace$.UI.Web.Models.baseViewModel
		   
    <div class="ui-detailsBox">
        <div class="ui-widget-header ui-corner-top ui-widget-content">
            @$customNamespace$.Resources.UserAdministration.UserAdminTexts.ManageUserRoles
        </div>
        <div  class="ui-widget-contentBody ui-widget-content">
		    <div class="ui-mvcMembership-usersRoles">
				    <ul></ul>
		    </div>
        </div>
    </div>


