<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging" requirePermission="true" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <sectionGroup name="templateSettings"></sectionGroup>
  </configSections>
  <templateSettings>

  </templateSettings>
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="UIGeneral">
    <listeners>
      <add name="ListenerOnAzureStorageTable" azureStorageConnectionStringName="StorageConnectionString" type="$customNamespace$.Models.Logging.AzureTableStorageListener, $customNamespace$.Models.Azure" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.CustomTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" />
      <add name="ListenerOnRollingXmlFile" type="$customNamespace$.Models.Logging.RollingXmlTraceListener, $customNamespace$.Models" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.CustomTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" fileName="%APPDATA%\$customNamespace$\ListenerOnRollingXmlFile.xml"  maxArchivedFiles="2" />
      <add name="ListenerOnUIProxied" type="$customNamespace$.Models.Logging.ProxiedWcfTraceListener, $customNamespace$.Models" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.CustomTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" />
    </listeners>
    <!-- Keep in mind all categorySources accept more than one listener. So, In case Wcf proxied does not work properly you can use Any other one -->
    <categorySources>
      <add switchValue="All" name="UIGeneral">
        <listeners>
          <!--<add name="ListenerOnAzureStorageTable" />
          <add name="ListenerOnRollingXmlFile" />-->
          <add name="ListenerOnUIProxied" />
        </listeners>
      </add>
      <add switchValue="All" name="UIBeginRequest">
        <listeners>
          <!--<add name="ListenerOnAzureStorageTable" />
          <add name="ListenerOnRollingXmlFile" />-->
          <add name="ListenerOnUIProxied" />
        </listeners>
      </add>
      <add switchValue="All" name="UIServerSideUnhandledException">
        <listeners>
          <!--<add name="ListenerOnAzureStorageTable" />
          <add name="ListenerOnRollingXmlFile" />-->
          <add name="ListenerOnUIProxied" />
        </listeners>
      </add>
      <add switchValue="All" name="UIClientSideJavascriptError">
        <listeners>
          <!--<add name="ListenerOnAzureStorageTable" />
          <add name="ListenerOnRollingXmlFile" />-->
          <add name="ListenerOnUIProxied" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <!--<add name="ListenerOnAzureStorageTable" />
          <add name="ListenerOnRollingXmlFile" />-->
          <add name="ListenerOnUIProxied" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <!--
    <add key="webpages:Enabled" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    -->
  </appSettings>
  <system.web>
    <!--<globalization uiCulture="es" culture="es-ES" />-->
    <sessionState mode="StateServer" cookieName=".UISessionId" />
    <customErrors mode="Off">
      <error statusCode="404" redirect="/Error/NotFound404" />
      <error statusCode="401" redirect="/Error/NotFound404" />
    </customErrors>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <authentication mode="None" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="false" />
  </system.webServer>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="EnableMessageInspectorBehavior">
          <MessageInspectorBehavior />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
            <add name="MessageInspectorBehavior" type="$customNamespace$.UI.Web.Common.AspNetApplicationServices.MessageInspectorBehaviorExtension, $safeprojectname$" />
      </behaviorExtensions>
    </extensions>
    <bindings>
      <!--TODO: crear un binding para servicios que utilizan gran cantuidad de datos como por ejemplo IProviderSynduication y asignar un  valor maxStringContentLength bastante alto
                dejar el binding por defecto con las readerQuotas por defecto y asignar ese binding a los servicios que no utilizan datos pesados
      -->
      <netTcpBinding>
        <binding name="$customBindingIsNetTcp$" maxBufferSize="5242880" maxBufferPoolSize="524288" maxReceivedMessageSize="5242880">
          <readerQuotas maxDepth="32" maxStringContentLength="5242880" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"></readerQuotas>
          <!--<security mode="Transport">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>-->
          <security mode="None"></security>
        </binding>
      </netTcpBinding>
      <basicHttpBinding>
        <binding name="$customBindingIsBasicHttp$" maxBufferSize="5242880" maxBufferPoolSize="524288" maxReceivedMessageSize="5242880">
          <readerQuotas maxDepth="32" maxStringContentLength="5242880" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"></readerQuotas>
          <security mode="None"></security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint name="IMembershipProxy"     contract="$customNamespace$.Models.Membership.IMembershipProxy"         address="$customBindingProtocol$://localhost:8523/$customNamespace$.Models.Membership.IMembershipProxy"           behaviorConfiguration="EnableMessageInspectorBehavior"  binding="$customBindingTypeName$" bindingConfiguration="$customBindingConfigurationName$"  />
      <endpoint name="IAuthenticationProxy" contract="$customNamespace$.Models.Authentication.IAuthenticationProxy" address="$customBindingProtocol$://localhost:8523/$customNamespace$.Models.Authentication.IAuthenticationProxy"   behaviorConfiguration="EnableMessageInspectorBehavior"  binding="$customBindingTypeName$" bindingConfiguration="$customBindingConfigurationName$"  />
      <endpoint name="IRoleManagerProxy"    contract="$customNamespace$.Models.Roles.IRoleManagerProxy"             address="$customBindingProtocol$://localhost:8523/$customNamespace$.Models.Roles.IRoleManagerProxy"               behaviorConfiguration="EnableMessageInspectorBehavior"  binding="$customBindingTypeName$" bindingConfiguration="$customBindingConfigurationName$"  />
      <endpoint name="IRolesProxy"          contract="$customNamespace$.Models.Roles.IRolesProxy"                   address="$customBindingProtocol$://localhost:8523/$customNamespace$.Models.Roles.IRolesProxy"                     behaviorConfiguration="EnableMessageInspectorBehavior"  binding="$customBindingTypeName$" bindingConfiguration="$customBindingConfigurationName$"  />
      <endpoint name="IProfileProxy"        contract="$customNamespace$.Models.Profile.IProfileProxy"               address="$customBindingProtocol$://localhost:8523/$customNamespace$.Models.Profile.IProfileProxy"                 behaviorConfiguration="EnableMessageInspectorBehavior"  binding="$customBindingTypeName$" bindingConfiguration="$customBindingConfigurationName$"  />
      <endpoint name="ILoggingProxy"        contract="$customNamespace$.Models.Logging.ILoggingProxy"               address="$customBindingProtocol$://localhost:8523/$customNamespace$.Models.Logging.ILoggingProxy"                 behaviorConfiguration=""                                binding="$customBindingTypeName$" bindingConfiguration="$customBindingConfigurationName$"  />
      <endpoint name="ISyndicationProxy"    contract="$customNamespace$.Models.Syndication.ISyndicationProxy"       address="$customBindingProtocol$://localhost:8523/$customNamespace$.Models.Syndication.ISyndicationProxy"         behaviorConfiguration=""                                binding="$customBindingTypeName$" bindingConfiguration="$customBindingConfigurationName$"  />
    </client>
  </system.serviceModel>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.1.0.0" newVersion="5.1.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>