@{Layout = "~/Views/Shared/_Layout.cshtml";}


@section InlineStyles{

}

@section ScriptsToAdd{

}


My name is Jordi Vila and I'm a programmer currently living and working in barcelona.<br /><br />
Interested in software development among many other things not related to this site<br /><br />
Find me on :<br /><br />
<ul>
    <li><a href="http://twitter.com/curlyguitar">twitter</a></li>
    <li><a href="https://github.com/jordivila">github</a></li>
</ul>





