@{Layout = "~/Views/Shared/_Layout.cshtml";}

@section InlineStyles{
    <style type="text/css">
        .ui-list {
            list-style-type: none;
            margin: 0 0 0 0em;
            padding: 0;
        }

        .ui-list li {
            padding: 0.2em;
            margin: .2em 0 0 0;
        }
    </style>
}

@section ScriptsToAdd{

}


<div class="ui-home-content">
    <ul class="ui-list">
        <li>Asp.Net Authentication, Authorization, Membership, Role and Profile providers are used throughout n-tier web app using WCF.</li>
        <li>WCF services are prepared to use NetTcp or Http bindings and UserContext is passed throughout messages.</li>
        <li>All Asp.Net Mvc Areas are tested & documented & coded using <a href="http://wiki.asp.net/page.aspx/1014/aspnet-mvc-best-practices/">best practices</a>.</li>
        <li>Asp.Net Globalization & jQuery Globalize & jQuery Validation combined together.</li>
        <li>Asp.Net MVC site common exceptions like "Page not Found 404", "Session Expired", "Permission Denied" and "Communication Errors" are allready handled.</li>
        <li>Enterprise Library Blocks : data access, logging, unity and cache.</li>
    </ul>
</div> 