@using $customNamespace$.UI.Web.Common.Mvc.Html;
@model   $customNamespace$.UI.Web.Models.baseViewModel

@*<div class="ui-sitePreferences-Info">
@Html.Button(System.Globalization.CultureInfo.CreateSpecificCulture(this.Model.BaseViewModelInfo.LocalizationResources.Culture).DisplayName,
                        jQueryHelpers.Icon.ui_icon_gear,
                        ButtonType.Button,
                        new
                        {
                            title = @$customNamespace$.Resources.General.GeneralTexts.Languages
                            , id="btnLanguageSwitcher"
                        })
@Html.Button($customNamespace$.Resources.General.GeneralTexts.SiteThemes,
                        jQueryHelpers.Icon.ui_icon_image,
                        ButtonType.Button,
                        new
                        {
                            title = @$customNamespace$.Resources.General.GeneralTexts.SiteThemes
                            , id="btnThemeSwitcher"
                        })
</div>*@
