@using $customNamespace$.UI.Web.Common.Mvc.Html;
@using $customNamespace$.UI.Web.Areas.Home;
@using $customNamespace$.UI.Web.Areas.UserAdministration;
@using $customNamespace$.UI.Web.Areas.Error;
@using $customNamespace$.UI.Web.Models;
@using $customNamespace$.UI.Web.Common.Mvc.Html;
@using $customNamespace$.UI.Web.Areas.UserAccount;
@using $customNamespace$.UI.Web.Areas.Error;
@using $customNamespace$.Models.Enumerations;


@model   $customNamespace$.UI.Web.Models.baseViewModel


@*<div data-widget="userOptions" data-widget-url="@Url.Account_UserAccountBar()">
    <div class="ui-site-header ui-widget-header ui-widget-content ui-corner-all"></div>
</div>
<div class="ui-carriageReturn"></div>*@