/* UserAdmin search */
.ui-widgetForm   {width:100%;}
.ui-widgetForm  .ui-widgetForm-userListFilter .ui-widgetForm-UserStatus  .ui-widgetFormItem ,
.ui-widgetForm  .ui-widgetForm-userListFilter .ui-widgetForm-UserRoles    .ui-widgetFormItem ,
.ui-widgetForm  .ui-widgetForm-userListFilter .ui-widgetForm-UserCrated   .ui-widgetFormItem {clear:none;float:left;width:auto;}
.ui-widgetForm  .ui-widgetForm-userListFilter .ui-widgetForm-UserStatus  .ui-widgetFormItem div.ui-widgetForm-inputLabel,
.ui-widgetForm  .ui-widgetForm-userListFilter .ui-widgetForm-UserRoles    .ui-widgetFormItem div.ui-widgetForm-inputLabel,
.ui-widgetForm  .ui-widgetForm-userListFilter .ui-widgetForm-UserCrated  .ui-widgetFormItem div.ui-widgetForm-inputLabel {width:auto;padding: 0 0 0 0;}
.ui-widgetForm  .ui-widgetForm-userListFilter .ui-widgetForm-UserStatus  .ui-widgetFormItem div.ui-widgetForm-inputLabel,
.ui-widgetForm  .ui-widgetForm-userListFilter .ui-widgetForm-UserRoles    .ui-widgetFormItem div.ui-widgetForm-inputLabel {margin:0.7em 0 0 0;}
.ui-widgetForm  .ui-widgetForm-userListFilter .ui-widgetForm-UserStatus  .ui-widgetFormItem div.ui-widgetForm-inputValue ,
.ui-widgetForm  .ui-widgetForm-userListFilter .ui-widgetForm-UserRoles    .ui-widgetFormItem div.ui-widgetForm-inputValue,
.ui-widgetForm  .ui-widgetForm-userListFilter .ui-widgetForm-UserCrated  .ui-widgetFormItem div.ui-widgetForm-inputValue {float:left;width:auto;min-width:1em;margin:0 0 0 1em;}
.ui-widgetForm  .ui-widgetForm-userListFilter .ui-widgetForm-buttons {margin-top:.5em !important;}

.ui-userList div.ui-widgetGrid .ui-widgetGrid-row .ui-widgetGrid-column .ui-icon {margin:0 auto 0 auto;}
.ui-userList div.ui-widgetGrid .ui-widgetGrid-Email {text-align:left !important;width:50% !important;}
.ui-userList div.ui-widgetGrid .ui-widgetGrid-Email .ui-userList-sendMail {float:left;margin:0 1em 0 0;}
.ui-userList div.ui-widgetGrid .ui-widgetGrid-IsLockedOut {width:10% !important;}
.ui-userList div.ui-widgetGrid .ui-widgetGrid-IsApproved {width:10% !important;}
.ui-userList div.ui-widgetGrid .ui-widgetGrid-IsOnline  {width:10% !important;}
.ui-userList div.ui-widgetGrid .ui-widgetGrid-CreateDate {width:11% !important;}

/*User Admin Details */
.ui-widgetForm fieldset {}
.ui-widgetForm li {margin:0 0 1em 0; margin: 0 1em 0 0;}
.ui-widgetForm li div {float:left;margin:0 1em 0 ;font-weight:bold;}
.ui-widgetForm li label {float:left;margin:0 3em 0 0;}
.ui-widgetForm .ui-widgetForm-comments .ui-widgetForm-Comment .ui-widgetForm-inputLabel {width:auto !important;margin:0 2em 0 0;}
.ui-widgetForm .ui-widgetForm-comments .ui-widgetForm-Comment .ui-widgetForm-inputValue {}
.ui-widgetForm .ui-widgetForm-roles .ui-widgetFormItem {display:block;float:left;clear:none; margin: 0 3em 0 0;}
.ui-widgetForm .ui-widgetForm-roles .ui-widgetFormItem .ui-widgetForm-inputLabel {float:left !important;width:auto !important;margin: 0 1em 0 0;}
.ui-widgetForm .ui-widgetForm-roles .ui-widgetFormItem .ui-widgetForm-inputValue {float:left !important;width:auto !important;}
.ui-widgetForm .ui-widgetForm-button {clear:both;margin:.5em 0 0 0;text-align:right;}
