@using $customNamespace$.UI.Web.Common.Mvc.Html;
@model $customNamespace$.UI.Web.Areas.LogViewer.Models.LogViewerModel

@{
    Layout = "~/Areas/LogViewer/Views/Shared/LayoutLogViewer.cshtml";
}

@section InlineStyles
{
    <style type="text/css">
        .ui-logViewer ul li {
            clear: both;
            margin: 1em 0 0 0;
            padding: .5em 0 0 0;
        }
    </style>
}

@section ScriptsToAdd
{

}

@section LogViewerBody
{
    <h3>@$customNamespace$.Resources.General.GeneralTexts.SelectSourceToGetDetails</h3>
    <br />
    <ul>
        @{
        foreach (var item in this.Model.LogTraceSources)
        {
            <text>
                <li>
                    <a href="@$customNamespace$.UI.Web.Areas.LogViewer.LogViewerUrlHelper.LogViewerBySourceName(Url, item.Name)">@item.Name</a>
                </li>
            </text>
        }
        }
    </ul>
}