@{
        if (ViewData.Model)
        {
            <span class='ui-icon ui-icon-check'></span>
        }
        else
        {
            <span class='ui-icon ui-icon-closethick'></span>
        }
}