.ui-treeList {list-style-type:none;position:relative;margin:0 0 0 0;padding:0.5em 0.5em 0.5em 0.5em ;cursor:pointer;}
.ui-treeList ul{list-style-type:none;margin:0em 0em 0em 0em;padding:1.5em 0.5em 1.5em 0.5em;}
.ui-treeList li {margin:1em ;padding:1em;position:relative;}
.ui-treeList li:first-letter {margin:0.1em 0.1em 0.1em 2em;}
.ui-treeList .ui-treeList-toggle{ height:1em;width:1em;margin:-0.1em 0 0 0 !important; }
.ui-treeList .ui-treeList-toggle span {top:0.5em; left:0.5em;}
.ui-treeList li .ui-treeList-toggle {margin:0em;cursor:pointer;float:right;border: 0.1em solid;padding: 0.2em;}
.ui-treeList .ui-treeList-childs {}
.ui-treeList .ui-treeList-open { }
.ui-treeList .ui-treeList-item { }
.ui-treeList .ui-treeList-itemEmpty {height:1em;}
.ui-treeList .ui-sortable-placeholder {border-style:dashed; border-width:thin; min-height:4em;}
.ui-treeList .ui-sortable-helper {border-style:dashed !important; border-width:thin !important;}